/* Google fonts
Placeholder text */

/* Hero section */

.hero {
  background-image: url('../images/hero-image.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  color: white;
  padding: 0 1rem;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
    font-size: 2.5rem;
}

.hero-content p {
    font-size: 0.7rem;
}